body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  animation-name: sparkling;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sparkling {
  0% {
    background-color: #baf4ed;
  }
  12.5% {
    background-color: #b2b2f6;
  }
  25% {
    background-color: #b9d1f5;
  }
  37.5% {
    background-color: #8eb1e6;
  }
  50% {
    background-color: #c1e8e8;
  }
  62.5% {
    background-color: #a1ebf0;
  }
  75% {
    background-color: #8ccefa;
  }
  87.5% {
    background-color: #b1c1ee;
  }
  100% {
    background-color: #aab3eb;
  }
}

img {
  max-width: 100%;
  height: auto;
}
#container {
  width: 1000px;
  margin: 0 auto;
  border: 2px solid magenta;
}
/* header */
header {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
}

nav ul li a:hover {
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPduG-9SAl46XMrL9jfG4FUinuL-3tbwq2aA&usqp=CAU");
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
}


.slider img {
  display: block;
}

/* Main  */
main {
  display: flex;
  justify-content: space-between;
}

main article {
  width: 70%;
  background: #f6e8ea;
  padding: 30px;
}

main article img {
  border: 3px red dotted;
  border-radius: 5px;
}

main aside {
  width: 30%;
  background: #9d8c8c;
  padding: 20px;
}

.widget {
  margin-bottom: 40px;
}

.widget img {
  float: left;
  margin-right: 6px;
  margin-top: 3px;
  border: 2px blue solid;
  border-radius: 5px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.footer-element {
  flex: 1;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

footer p {
  text-align: center;
}

footer ul {
  list-style: none;
}
footer a,
i {
  text-decoration: none;
  color: black;
  transition: 0.3s color;
}

footer a:hover,
i:hover {
  color: grey;
}

#footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-brands {
  font-size: 1.5em;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}
